<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sumslack.opensource">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- LBS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 扫描二维码 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 申明开机启动权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- WebView -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 高德API -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".WXApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:overrideLibrary="com.taobao.android.dexposed">

        <!-- 高德API Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e4f67b3c72249ce1de0be8d9a41b1c6a" />

        <receiver
            android:name="com.sumslack.opensource.weex.util.CoverageDataDumper"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.taobao.weex.DUMP_COVERAGE_DATA"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndexActivity"
            android:label="Home" />
        <activity
            android:name=".LocalActivity"
            android:parentActivityName=".IndexActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IndexActivity" />
        </activity>
        <activity
            android:name=".NetworkActivity"
            android:parentActivityName=".IndexActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IndexActivity" />
        </activity>
        <activity
            android:name=".WXFragmentActivity"
            android:label="@string/title_activity_fragment"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.weex.sample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WebViewActivity"
            android:launchMode="singleTop" />
        <activity android:name=".qrcode.QrCodeIndexActivity" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RouteNaviActivity" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".location.CalculateRouteActivity" />
        <activity android:name=".location.StrategyChooseActivity"></activity>

        <!--
            相册选取图片，预览：https://github.com/easonline/AndroidImagePicker
        -->
        <activity
            android:name="com.pizidea.imagepicker.ui.activity.ImageCropActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            >

        </activity>

        <activity
            android:name="com.pizidea.imagepicker.ui.activity.ImagePreviewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >


        </activity>

        <activity
            android:name="com.pizidea.imagepicker.ui.activity.ImagesGridActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity android:name=".image.MultiPreviewActivity"></activity>

    </application>

</manifest>